header{
    padding-bottom: 22px;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}
.section-1{
     margin-top: 72px;
     margin-bottom: 60px;
}
.logo{
    margin-top: 18px;
    margin-right: 297px;
    margin-bottom: 17px;
    margin-left: 20px;
    vertical-align: middle;
}
.nav-ul{
    display: inline-block;
    vertical-align: middle;
}
.nav-li-a1{
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    margin-right: 22px;
    color: #343638;
}
.nav-li-a2{
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    margin-right: 22px;
    color: #707070;
}
.nav-li-a3{
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    margin-right: 22px;
    color: #707070;
}
.nav-li-a4{
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    margin-right: 40px;
    color: #707070;
}
.nav-human-img{
    vertical-align: middle;
}
/* end header*/
.section-div{
    width: 1208px;
    margin: 0 auto;  
}
.section-h2{
    font-size: 24px;
    padding-bottom: 42px;  
}
.section-img-div{
    position: relative;
    display: inline-block;
    width: 360px; 
    margin-right: 40px;
}
.section-img{
    padding-bottom: 66px;
}
.text-img1{
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    top: 28px;
    left: 40px;
}
.section-div2-h3{
    color: #A6ADB4;
    width: 100%;
    padding-right: 40px;
    padding-bottom: 11px;
    padding-left: 40px;
    display: inline-block;
}
.time-img{
   padding-bottom: 40px;
   padding-left: 39px;
   vertical-align: middle;
}
.time-text{
    color: #A6ADB4;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 40px;
}
/* end first section */
.section-secont-div{
    width: 1208px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.section2-h2-maintitle{
    font-size: 24px;
    color: #202124;
    margin-bottom: 40px;
}
.section-bigimg-div{
    display: inline-block;
    width: 762px;
    margin-right: 40px;
    margin-bottom: 40px;
    vertical-align: top;
}
.img-text{
    position: relative;
    margin-bottom: 40px;
}
.image-text-center{
    position: absolute;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right-image-div{
    display: inline-block;
    vertical-align: top;
    
}
.right-image1{
    display: block;
    padding-bottom: 102px;
}
.right-image2{
    display: block;
    padding-bottom: 102px;
}
.right-image3{
    display: block;
}
/*end section*/
.footer-div{
    background-color: #A6ADB4;
    width: 1920px;
    height: 200px;
}
a{
    color: #707070;
}
.footer-div-ul{
    width: 800px;
    padding-top: 54px;
    padding-right: 104px;
    padding-left: 142px;
    display: inline-block;
    vertical-align: middle;
}
.footer-logo{
    vertical-align: top;
    padding-right: 80px;
}
.div-ul{ 
    display: inline-block;
    vertical-align: top;
    margin-right: 65px;
}
.div-ul2{
    display: inline-block;
    margin-right: 65px;
}
.div-ul3{
    display: inline-block;
}
.footer-li-a{
    display: block;
}
.footer-div-text-p{
    display: inline-block;
    vertical-align: middle;
    margin-left: 200px;
}  
.footer-div-h4{
    display: inline-block;
    color: #CBD0D3;
    font-size: 11px;
}
.footer-div-social-img{
    display: inline-block;
    margin-left: 250px;
}
.social-img{
    padding-left:35px ;
}
[class*="col-"] {
    width: 100%;
  }
   
    

   



